---
import Layout from '../layouts/Layout.astro';
import { Button } from "@/components/ui/button"

---

<Layout title="Welcome to Astro.">
	<div class="flex items-center justify-center">
		<Button>Hello World</Button>
	</div>
</Layout>
